/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
ul {
    list-style-type: none;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px 'Apple SD Gothic Neo', NanumBarunGothic, '나눔고딕', 'NG', 'Malgun Gothic', dotum, sans-serif;
    background-color: #BCB5AD;
    display: none;
}

.wrapper {
    
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

#desktop-header {
    font: 12px/26px NanumBarunGothic;
    background-color: black;
    position: fixed;
    z-index: 100;
    width : 100%;
}

nav ul {
    width : 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    position : relative;
}
.main-grid-bg, 
.main-grid{
    z-index: 0;
    height : 250px;
    width : 100%;
}
.main-grid {
    position : relative;

/*
    background-image: url(../img/first_02_txt.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   
*/
}
.main-grid-bg {
    position: fixed;
}
.main-grid-bg li > img{
    position: absolute;
    max-width : 50%;
    margin: auto;
    top: 0%; right : 0; bottom: 0; left :0;
}
.main-grid-bg ul {
    display: block;
    width : 100%;
    height : 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.main-grid-bg li {
    position: relative;
    float: left;
    display: block;   
    width:100%;
    height:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}
/*
.main-grid-bg .bg1{
    background-image: url(../img/first_02.jpg);
}
*/
/*
.main-grid-bg .bg2{
    background-image: url(../img/main_roll_02-2.jpg);
}
*/
/*
.main-grid-bg .bg3{
    background-image: url(../img/main_roll_03-2.jpg);
}
*/
.bulletin-item > img{
    width :100%;
}
.support-grid {
    top : 250px; 
    z-index: 1;  
    background-color: white;
    position: relative;
    max-width : none;
    padding : 0;
    margin : 0;
}
#item0{
    padding-top: 100px;
    background-color: white;
}
[id^= 'item1-']{
    margin : 0;
    padding: 0;
    height : 200px;
    background-color: darkorange;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#item1{
    background-color: white;
    padding-bottom: 30px;
}
.item-wrapper {
    padding: 0;   
}
/*
#item1-1{
    background-image: url(../img/first_05.jpg);
}
#item1-2{
    background-image: url(../img/first_07.jpg);
}
#item1-3{
    background-image: url(../img/first_09.jpg);
}
*/
#item2 {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin : 0;
}
#item2 .bg{
    z-index: 9;
    position: absolute;
    background: -webkit-linear-gradient(#000, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000 10%, #fff 90%); /* Standard syntax */
/*
    background-image: url(../img/first_02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
*/

    top:0;
    left:0;
    right:0;
    bottom:0;
    width : 100%;   
    height : 900px;
}
#item2 .hole{
    position: relative;
    width : 100%;
    z-index: 10;
}
#item3 {
    padding-top : 40px;
    background-color: white;   
}
.bulletin-item {
    padding : 0;   
}
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px){

/* ====================
    INTERMEDIATE: Menu
   ==================== */
    
    nav a {
        float: left;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
    #desktop-header {
        -webkit-transition: all 0.5s ease, opacity 0.3s ease;
           -moz-transition: all 0.5s ease, opacity 0.3s ease;
             -o-transition: all 0.5s ease, opacity 0.3s ease;
                transition: all 0.5s ease, opacity 0.3s ease;
        height : 40px;
    }
    #desktop-header > nav {
        position: absolute;
        width : 90%;   
        margin: auto;
        left:0; right : 0;
    }
    
    #left-nav a,
    #right-nav a{
        display: block;
        width : 60px;   
        padding: 8px 0;
    }
    #left-nav a{
        float : left;
    }
    #right-nav a{
        float : right;
    }   
    #desktop-header .logo {
        -webkit-transition: all 0.5s ease, opacity 0.3s ease;
           -moz-transition: all 0.5s ease, opacity 0.3s ease;
             -o-transition: all 0.5s ease, opacity 0.3s ease;
                transition: all 0.5s ease, opacity 0.3s ease;
        background-image: url(../img/BEANBROTHERS_white.png);
        background-repeat: no-repeat;
        background-size: 100%;
        width : 168.75px;
        position: absolute;
        margin: 7.5px auto;
        top:0; right :0; bottom: 0; left :0;
        
    }
    #desktop-header.fade {
        background-color: white;
/*        border-bottom : 1px solid gray;*/
        box-shadow: 0px 2px 4px #888888
    }
    #desktop-header.fade #left-nav a{
        float: right;
    }
    #desktop-header.fade a {
        color : black;   
    }
    #desktop-header.fade .logo{
        right:auto;
        background-image: url(../img/BEANBROTHERS.png);
    }
    #desktop-header.fade .cafe,
    #desktop-header.fade .subscribe,
    #desktop-header.fade .guide,
    #desktop-header.fade .class,
    #desktop-header.fade .event,
    #desktop-header.fade .business,
    #desktop-header.fade .hire{
        display : none;   
    }
    
/* ====================
    INTERMEDIATE: Main
   ==================== */
    .main-grid-bg, 
    .main-grid{
        height : 300px;
    }
    .support-grid {
        top : 300px;   
    }

    #item0{
        padding-top: 40px;
    }
    .item-wrapper {
        padding: 0 10px;   
    }
    #item1 {
        padding-top : 120px;
    }
    [id^= 'item1-']{
        height : 200px;
    }
    #item1 li:first-child {
        padding-left: 0;
    }

    #item1 li:last-child {
        padding-right: 0;
    }
 /*
    #item0{
        padding-top: 80px;
    }
*/
/*
    #bulletin-item-subscribe {
        width : 65%;
    }
    #bulletin-item-event {
        width : 65%;
    }
    #bulletin-item-blackout {
        width : 35%;
    }
*/
    
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
    
    
    

}

@media only screen and (min-width: 768px) {


/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */
    #desktop-header .wrapper {
        width : 90%;   
    }

    
/* ============
    WIDE: Main
   ============ */
    .main-container .margin-left,
    .main-container .margin-right{
        height : 100%;
    }
    .main-grid-bg, 
    .main-grid{
        height : 500px;
    }
    .support-grid {
        top : 500px;
    }
    [id^='item']{
    }

    
    #item2 .bg{
        left:-12.5%;
        right:-12.5%;
        width : 125%;   
        height : 900px;
    }
    
    #bulletin {
        margin-top : 20px;
        width : 100%;
    }
    .grid-sizer {
        width : 5%;   
    }
    .bulletin-item {
        display: block;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding : 10px;
    /*
        margin-right : 2.5%;
        margin-bottom: 2.5%;
    */
    /*
        margin-right : 20px;
        margin-bottom: 20px;
    */
    }

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {

    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}